.question-card 
    max-width: 400px;
    margin: auto;
    width: 100%;
    padding: 10px 5px;
    border-radius: 15px;
    position: relative;
    overflow: visible;
        
.choice-btn 
    width: 70px;
    height: 70px !important;
    border-radius: 15px;


.mdi-close, .mdi-check 
    font-size: 55px !important;

.information-button
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 10000000;


.title__container
    font-weight: 600;
    text-align: center !important;
    vertical-align: middle;

.text__container 
    word-break: normal;

.source__text
    font-size: size-14 !important;
    word-break: break-all;