* 
    box-sizing: border-box
    margin: 0
    padding: 0

html 
    scroll-behavior: smooth

body
    background-color: main-back-color
    overflow-x: hidden

h1
    font-size: size-52

h2  
    font-size: size-44
    font-weight: 400

p
    font-size: size-default

h1, h2, h3, h4, h5, p, li, a, input, button 
    color: white
    font-family: main-text-color

ul, ol 
    list-style: none

li 
    list-style-type: none

a
    text-decoration: none

main
    overflow: hidden