* 
    box-sizing: border-box
    margin: 0
    padding: 0

html 
    scroll-behavior: smooth;
    overflow-y: visible

body
    background-color: main-back-color
    overflow-x: hidden

h1
    font-size: size-52

h2  
    font-size: size-44
    font-weight: 400

p
    font-size: size-default

h1, h2, h3, h4, h5, p, li, a, input, button 
    color: white
    font-family: main-text-color

ul, ol 
    list-style: none

li 
    list-style-type: none

a
    text-decoration: none

main
    overflow: hidden


::-webkit-scrollbar 
    width: 10px


::-webkit-scrollbar-thumb 
    background-color: #ffffff;
    border-radius: 15px;

::-webkit-scrollbar-track 
    background-color: #1E3050;
    border-radius: 15px;

